
.skills-main-div{
    display:flex;
    flex-direction: row;
}
.skill-text-div{
    margin-left: 50px;
    margin-top: 3%;
    padding-top: 80px;
    font-family: "Google Sans Regular";
}

.skill-heading{
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
    font-family: "Google Sans Regular";
}

.skill-sentence{
    font-size: 20px;
}

.skills-header{
    font-size:60px;
    line-height:1.1;
    font-family: "Google Sans Regular";
    text-align: center;
}

.skills-image-div{
  margin-left: 10%;
  margin-right: 5%;
   max-width:400px;
   width:400px;
}

.skills-image-div > * {
  max-width: 500px;
  padding-right: 100px;
  height: auto;
  margin-top: 100px;
}

/* Media Query */
@media (max-width: 1380px) {
    .skills-heading {
      font-size: 40px;
    }
    .skills-header {
      font-size: 50px;
    }
}

@media (max-width: 768px) {
    
    .skills-image-div{
      padding-right: 0px;
      margin-top: 10px;
      max-width: 100%;
    }

    .skills-image{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      padding-right: 0px;
    }
    .skill-sentence{
      font-size: 18px;
    }
    .skills-heading {
      font-size: 30px;
      text-align: center;
    }
    .skills-header {
      font-size: 30px;
    }
    .skill-heading{
      font-size: 30px;
    }
    .skills-main-div {
      flex-direction: column;
    }
    .skill-text-div {
      margin-left: 0px;
      margin: 20px;
    }
    .skill-text {
      font-size: 16px;
    }
    .skill-text-subtitle {
      font-size: 16px;
      text-align: center;
    }
  }