
.education-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.education-main {
  display:flex;
}

.education-hat {
  margin:50px;
  max-width: 100%;
}

.education-text {
  padding-top: 50px;
  padding-right:50px;
}

.education-text > * {
  flex:1;
}
@media (max-width: 1380px){

}

@media (max-width: 768px){
  .education-text{
    padding: 50px;
  }
  .education-main{
    flex-direction: column;
  }
}