.footer{
    margin-top: 4rem;
    margin-bottom: 2rem;
    border-top: 1px solid #FFFFFF; 
}

.footer-text{
    margin-top: 10px;
    text-align: center;
    font-weight: 900;
    font-family: "Google Sans Regular";
}

.footerText{
    font-size: 28px;
}

.footerSubtext{
    font-size: 20px;
}

.footerLinks{
    margin-top: 10px;
}

.footerLink{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
